In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('D:/Movie Recommendation System/credits.csv')

In [3]:
data

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [4]:
meta_data = pd.read_csv('D:/Movie Recommendation System/movies_metadata.csv')
meta_data.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

In [5]:
meta_data['release_date'] = pd.to_datetime(meta_data['release_date'], errors = 'coerce')

In [6]:
meta_data['year'] = meta_data['release_date'].dt.year

In [7]:
meta_data['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [8]:
new_meta_data = meta_data.loc[meta_data.year == 2017,['id','genres','title','year']]
new_meta_data

,id,genres,title,year
26560,166426,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,141052,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Justice League,2017.0
26565,284053,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Thor: Ragnarok,2017.0
26566,283995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Guardians of the Galaxy Vol. 2,2017.0
30536,245842,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",The King's Daughter,2017.0
...,...,...,...,...
45398,468707,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Thick Lashes of Lauri MÃ¤ntyvaara,2017.0
45417,461297,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",Cop and a Half: New Recruit,2017.0
45437,455661,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",In a Heartbeat,2017.0
45453,404604,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",Mom,2017.0
45465,461257,[],Queerama,2017.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [10]:
new_meta_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 532 entries, 26560 to 45465
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      532 non-null    object
 1   genres  532 non-null    object
 2   title   532 non-null    object
 3   year    532 non-null    float64
dtypes: float64(1), object(3)
memory usage: 20.8+ KB

In [11]:
new_meta_data['id'] = new_meta_data['id'].astype(int)

In [12]:
data = pd.merge(new_meta_data, data, on = 'id')

In [13]:
data

,id,genres,title,year,cast,crew
0,166426,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,141052,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,284053,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,283995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,245842,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."
...,...,...,...,...,...,...
526,468707,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Thick Lashes of Lauri MÃ¤ntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de..."
527,461297,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de..."
528,455661,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de..."
529,404604,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de..."
530,461257,[],Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [14]:
data['genres'].dtypes

dtype('O')

In [15]:
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [17]:
data['genres'].dtypes

dtype('O')

In [18]:
def make_genres_list(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
        if gen == []:
            return np.NaN
        else:
            return (st.join(gen))

In [19]:
data['genres_list'] = data['genres'].map(lambda x: make_genres_list(x))

In [20]:
data['genres_list']

0      Adventure
1         Action
2         Action
3         Action
4        Fantasy
         ...
526      Romance
527        Crime
528       Family
529        Crime
530         None
Name: genres_list, Length: 531, dtype: object

In [21]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [22]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [23]:
data['actor_1_name']

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka HaapamÃ¤ki
527    Lou Diamond Phillips
528                     NaN
529          Sridevi Kapoor
530                     NaN
Name: actor_1_name, Length: 531, dtype: object

In [24]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts) <=1:
        return np.NaN
    else:
        return(casts[1])

In [25]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [26]:
data['actor_2_name']

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: actor_2_name, Length: 531, dtype: object

In [27]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts) <= 2:
        return np.NaN
    else:
        return(casts[2])

In [28]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))
data['actor_3_name']

0        Geoffrey Rush
1            Gal Gadot
2       Cate Blanchett
3        Dave Bautista
4      Benjamin Walker
            ...
526     Tiitus Rantala
527        Gina Holden
528                NaN
529     Akshaye Khanna
530                NaN
Name: actor_3_name, Length: 531, dtype: object

In [29]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
        if dt == []:
            return np.NaN
        else:
            return (st.join(dt))

In [30]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))
data['director_name']

0                   NaN
1                   NaN
2                   NaN
3                   NaN
4         Sean McNamara
             ...
526    Hannaleena Hauru
527                 NaN
528                 NaN
529                 NaN
530       Daisy Asquith
Name: director_name, Length: 531, dtype: object

In [31]:
data.columns

Index(['id', 'genres', 'title', 'year', 'cast', 'crew', 'genres_list',
       'actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name'],
      dtype='object')

In [32]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name', 'actor_3_name', 'genres_list','title']]
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
0,NaN,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure,Pirates of the Caribbean: Dead Men Tell No Tales
1,NaN,Ben Affleck,Henry Cavill,Gal Gadot,Action,Justice League
2,NaN,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action,Thor: Ragnarok
3,NaN,Chris Pratt,Zoe Saldana,Dave Bautista,Action,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy,The King's Daughter
...,...,...,...,...,...,...
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Romance,Thick Lashes of Lauri MÃ¤ntyvaara
527,NaN,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime,Cop and a Half: New Recruit
528,NaN,NaN,NaN,NaN,Family,In a Heartbeat
529,NaN,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime,Mom
530,Daisy Asquith,NaN,NaN,NaN,None,Queerama

In [33]:
movie.isna().sum()

director_name    243
actor_1_name      22
actor_2_name      55
actor_3_name      70
genres_list        7
title              0
dtype: int64

In [34]:
movie = movie.dropna(how = 'any')
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy,The King's Daughter
5,Adam Spinks,Ben Loyd-Holmes,Sarah Mac,Neil Newbon,Thriller,Extinction: Nature Has Evolved
6,Rucha Humnabadkar,Ali Fazal,Melanie Chandra,Omi Vaidya,Drama,For Here or to Go?
7,Sarik Andreasyan,Anton Pampushnyy,Sanzhar Madiyev,Sebastien Sisak,Action,Guardians
10,Kevin Munroe,Chris Murphy,Ian James Corlett,Matt Olsen,Animation,Sly Cooper
...,...,...,...,...,...,...
522,Pat Healy,Taylor Schilling,Pat Healy,Alycia Delmore,Comedy,Take Me
523,Anshai Lal,Anushka Sharma,Diljit Dosanjh,Suraj Sharma,Fantasy,Phillauri
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance,The Incredible Jessica James
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,Can't Buy My Love
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Romance,Thick Lashes of Lauri MÃ¤ntyvaara

In [35]:
movie = movie.rename(columns = {'genres_list' : 'genre'})
movie = movie.rename(columns = {'title' : 'movie_title'})
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genre,movie_title
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy,The King's Daughter
5,Adam Spinks,Ben Loyd-Holmes,Sarah Mac,Neil Newbon,Thriller,Extinction: Nature Has Evolved
6,Rucha Humnabadkar,Ali Fazal,Melanie Chandra,Omi Vaidya,Drama,For Here or to Go?
7,Sarik Andreasyan,Anton Pampushnyy,Sanzhar Madiyev,Sebastien Sisak,Action,Guardians
10,Kevin Munroe,Chris Murphy,Ian James Corlett,Matt Olsen,Animation,Sly Cooper
...,...,...,...,...,...,...
522,Pat Healy,Taylor Schilling,Pat Healy,Alycia Delmore,Comedy,Take Me
523,Anshai Lal,Anushka Sharma,Diljit Dosanjh,Suraj Sharma,Fantasy,Phillauri
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance,The Incredible Jessica James
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,Can't Buy My Love
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Romance,Thick Lashes of Lauri MÃ¤ntyvaara

In [36]:
movie['combined'] = movie['actor_1_name']+' '+ movie['actor_2_name']+' '+ movie['actor_3_name']+' '+ movie['director_name']+' '+ movie['genre']+' '+ movie['movie_title']

In [37]:
movie['combined']

4      Pierce Brosnan William Hurt Benjamin Walker Se...
5      Ben Loyd-Holmes Sarah Mac Neil Newbon Adam Spi...
6      Ali Fazal Melanie Chandra Omi Vaidya Rucha Hum...
7      Anton Pampushnyy Sanzhar Madiyev Sebastien Sis...
10     Chris Murphy Ian James Corlett Matt Olsen Kevi...
                             ...
522    Taylor Schilling Pat Healy Alycia Delmore Pat ...
523    Anushka Sharma Diljit Dosanjh Suraj Sharma Ans...
524    Jessica Williams Chris O'Dowd Keith Stanfield ...
525    Adelaide Kane Benjamin Hollingsworth Jean Loui...
526    Inka HaapamÃ¤ki Rosa Honkonen Tiitus Rantala Ha...
Name: combined, Length: 246, dtype: object

In [38]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genre,movie_title,combined
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy,The King's Daughter,Pierce Brosnan William Hurt Benjamin Walker Se...
5,Adam Spinks,Ben Loyd-Holmes,Sarah Mac,Neil Newbon,Thriller,Extinction: Nature Has Evolved,Ben Loyd-Holmes Sarah Mac Neil Newbon Adam Spi...
6,Rucha Humnabadkar,Ali Fazal,Melanie Chandra,Omi Vaidya,Drama,For Here or to Go?,Ali Fazal Melanie Chandra Omi Vaidya Rucha Hum...
7,Sarik Andreasyan,Anton Pampushnyy,Sanzhar Madiyev,Sebastien Sisak,Action,Guardians,Anton Pampushnyy Sanzhar Madiyev Sebastien Sis...
10,Kevin Munroe,Chris Murphy,Ian James Corlett,Matt Olsen,Animation,Sly Cooper,Chris Murphy Ian James Corlett Matt Olsen Kevi...
...,...,...,...,...,...,...,...
522,Pat Healy,Taylor Schilling,Pat Healy,Alycia Delmore,Comedy,Take Me,Taylor Schilling Pat Healy Alycia Delmore Pat ...
523,Anshai Lal,Anushka Sharma,Diljit Dosanjh,Suraj Sharma,Fantasy,Phillauri,Anushka Sharma Diljit Dosanjh Suraj Sharma Ans...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance,The Incredible Jessica James,Jessica Williams Chris O'Dowd Keith Stanfield ...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,Can't Buy My Love,Adelaide Kane Benjamin Hollingsworth Jean Loui...
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Romance,Thick Lashes of Lauri MÃ¤ntyvaara,Inka HaapamÃ¤ki Rosa Honkonen Tiitus Rantala Ha...

In [39]:
old = pd.read_csv('data.csv')
old

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,title_year
0,James Cameron,CCH Pounder,Wes Studi,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,avatar,2009.0
1,Gore Verbinski,Johnny Depp,Jack Davenport,Jack Davenport,Action|Adventure|Fantasy,pirates of the caribbean: at world's end,2007.0
2,Sam Mendes,Christoph Waltz,Stephanie Sigman,Stephanie Sigman,Action|Adventure|Thriller,spectre,2015.0
3,Christopher Nolan,Tom Hardy,Joseph Gordon-Levitt,Joseph Gordon-Levitt,Action|Thriller,the dark knight rises,2012.0
4,Doug Walker,Doug Walker,unknown,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,unknown
...,...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Crystal Lowe,Crystal Lowe,Comedy|Drama,signed sealed delivered,2013.0
5039,unknown,Natalie Zea,Sam Underwood,Sam Underwood,Crime|Drama|Mystery|Thriller,the following,unknown
5040,Benjamin Roberds,Eva Boehnke,David Chandler,David Chandler,Drama|Horror|Thriller,a plague so pleasant,2013.0
5041,Daniel Hsia,Alan Ruck,Eliza Coupe,Eliza Coupe,Comedy|Drama|Romance,shanghai calling,2012.0
5042,Jon Gunn,John August,Jon Gunn,Jon Gunn,Documentary,my date with drew,2004.0

In [40]:
new = old.append(movie)

In [41]:
new.shape, movie.shape

((5289, 9), (246, 7))

In [42]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,title_year,genre,combined
0,James Cameron,CCH Pounder,Wes Studi,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,avatar,2009.0,NaN,NaN
1,Gore Verbinski,Johnny Depp,Jack Davenport,Jack Davenport,Action|Adventure|Fantasy,pirates of the caribbean: at world's end,2007.0,NaN,NaN
2,Sam Mendes,Christoph Waltz,Stephanie Sigman,Stephanie Sigman,Action|Adventure|Thriller,spectre,2015.0,NaN,NaN
3,Christopher Nolan,Tom Hardy,Joseph Gordon-Levitt,Joseph Gordon-Levitt,Action|Thriller,the dark knight rises,2012.0,NaN,NaN
4,Doug Walker,Doug Walker,unknown,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,unknown,NaN,NaN
...,...,...,...,...,...,...,...,...,...
522,Pat Healy,Taylor Schilling,Pat Healy,Alycia Delmore,NaN,Take Me,NaN,Comedy,Taylor Schilling Pat Healy Alycia Delmore Pat ...
523,Anshai Lal,Anushka Sharma,Diljit Dosanjh,Suraj Sharma,NaN,Phillauri,NaN,Fantasy,Anushka Sharma Diljit Dosanjh Suraj Sharma Ans...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,NaN,The Incredible Jessica James,NaN,Romance,Jessica Williams Chris O'Dowd Keith Stanfield ...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,NaN,Can't Buy My Love,NaN,Romance,Adelaide Kane Benjamin Hollingsworth Jean Loui...
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,NaN,Thick Lashes of Lauri MÃ¤ntyvaara,NaN,Romance,Inka HaapamÃ¤ki Rosa Honkonen Tiitus Rantala Ha...

In [43]:
new.drop_duplicates(subset = "movie_title", keep = 'last', inplace = True)
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,title_year,genre,combined
0,James Cameron,CCH Pounder,Wes Studi,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,avatar,2009.0,NaN,NaN
1,Gore Verbinski,Johnny Depp,Jack Davenport,Jack Davenport,Action|Adventure|Fantasy,pirates of the caribbean: at world's end,2007.0,NaN,NaN
2,Sam Mendes,Christoph Waltz,Stephanie Sigman,Stephanie Sigman,Action|Adventure|Thriller,spectre,2015.0,NaN,NaN
3,Christopher Nolan,Tom Hardy,Joseph Gordon-Levitt,Joseph Gordon-Levitt,Action|Thriller,the dark knight rises,2012.0,NaN,NaN
4,Doug Walker,Doug Walker,unknown,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,unknown,NaN,NaN
...,...,...,...,...,...,...,...,...,...
522,Pat Healy,Taylor Schilling,Pat Healy,Alycia Delmore,NaN,Take Me,NaN,Comedy,Taylor Schilling Pat Healy Alycia Delmore Pat ...
523,Anshai Lal,Anushka Sharma,Diljit Dosanjh,Suraj Sharma,NaN,Phillauri,NaN,Fantasy,Anushka Sharma Diljit Dosanjh Suraj Sharma Ans...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,NaN,The Incredible Jessica James,NaN,Romance,Jessica Williams Chris O'Dowd Keith Stanfield ...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,NaN,Can't Buy My Love,NaN,Romance,Adelaide Kane Benjamin Hollingsworth Jean Loui...
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,NaN,Thick Lashes of Lauri MÃ¤ntyvaara,NaN,Romance,Inka HaapamÃ¤ki Rosa Honkonen Tiitus Rantala Ha...

In [44]:
new.to_csv('new_data.csv', index = False)